*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(179, 0, 220);
    opacity: 0.5;
}
header{
    width: 100vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav__content{
    padding: 0 15px;
    margin: 0 auto;

}
nav > .nav__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > .nav__content > ul{
display: flex;
align-items: center;
column-gap: 15px; ;
font-size: 20px;


}
nav > .nav__content > ul> li > a{
    color: rgb(0, 0, 0);
   font-size: 20px;
}
nav > .nav__content> a{
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
}
body{
    background-color: aqua;

}
header{
    height: 90vh;
}

section{
    height: 100vh;
}

section:nth-child(1){
    background-color: rgb(0, 12, 248);
}
section:nth-child(2){
    background-color: green;
}
section:nth-child(3){
    background-color: yellow;
}
section:nth-child(4){
    background-color: firebrick;
}